body {
  background-color: #222;
}

.app {
  text-align: center;
  max-width: 900px;
  margin: 2em auto;
  padding: 1em;
  background-color: #eee;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.spinners {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.result {
  width: 100%;
}
